#!/usr/bin/env bash
# Prolog: grant SSH access to the job's user for the duration of the job.
# Adapted from deepops roles/slurm/templates/etc/slurm/prolog.d/50-exclusive-ssh
set -ex

cp /etc/slurm/localusers.backup /etc/localusers

if ! grep -q -w "$SLURM_JOB_USER" /etc/slurm/localusers.backup ; then
    echo "$SLURM_JOB_USER" >> /etc/localusers
fi
